<div class="card">
    <h3 class="card-header">Create New Account</h3>
    <form id="signup-form" class="card-body">
        <label for="username-signup" class="form-label">Username</label>
        <input id="username-signup" type="text" class="form-input-is"/>
    
        <label class="form-label" for "password-signup">Password</label>
        <input id="password-signup" type="password" class="form-input-is"/>

        <button type="submit" class="button-ls link-button">Create My Account</button>
        <br>
        <a class="link-button" href="/login">login instead</a>
    </form>
</div>

<script src="/javascript/signup.js"></script>