
:root {
  --primary-color: #202030;
  --secondary-color: slategray;
  --tertiary-color: #d7fff6;
  --lighter-color: white; 
  --darker-color: #12121f;
  --border-radius-color: 0.3rem; 

}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--tertiary-color);
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 24px;
  line-height: 1.5;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0;
  line-height: 1.25;
  font-weight: 700;
  color: var(--tertiary-color);
}

h4 {
  color: var(--lighter-color);
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
}

main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 1.2rem;
}

footer {
  border-top: 1px solid #ccc;
  padding: 1%;
  display: flex;
  font-size: 110%;
  justify-content: center;
}

nav a {
  padding-right: 10px;
  line-height: 1.25;
  padding-bottom: 10px;
  margin-right: 15px;
  float: top;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.button {
  text-decoration: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 12px 8px;
  margin: 5px 0;
  border-radius: var(--border-radius-color);
  display: block;
  border: none;
  outline: none;
  color: var(--secondary-color);
  transform: translate(-1px, -1px);
  background-color: var(--secondary-color);
}

.button-ls {
  text-decoration: none;
  width: 50%;
  font-size: 1.3rem;
  padding: 8px 5px;
  margin: 3px 0;
  border-radius: var(--border-radius-color);
  display: block;
  border: none;
  outline: none;
  color: var(--secondary-color);
  transform: translate(-1px, -1px);
  background-color: var(--secondary-color);
}

.button:hover,
.button-ls:hover {
  color: var(--tertiary-color);
  background-color: var(--lighter-color);
  box-shadow: 2px 2px var(--lighter-color);
  transform: translate(0, 0);
}

.button-inline {
  display: inline;
}

.button-back {
  color: var(--tertiary-color);
  border: none;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-color);
  outline: none;
  box-shadow: 3px 3px var(--secondary-color);
  display: inline-block;
  transform: translate(-1px, -1px);
  font-size: 1.2rem;
  width: auto;
  padding: 15px;
  text-decoration: none;
  margin-top: 20px;
}

.button-back:hover {
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  box-shadow: 2px 2px var(--tertiary-color);
  transform: translate(0, 0);
}

.hero {
  background-color: var(--darker-color);
  color: var(--secondary-color);
  padding: 3% 4%;
}

.button-create-new-post {
  text-decoration: none;
  width: 100%;
  font-size: 1.3rem;
  padding: 12px 8px;
  margin: 5px 0;
  border-radius: var(--border-radius-color);
  display: block;
  border: none;
  outline: none;
  color: var(--tertiary-color);
  transform: translate(-1px, -1px);
  background-color: var(--secondary-color);
}

.hero p {
  max-width: 75%;
}

.app-title {
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  font-size: 3rem;
  display: inline-block;
  border-radius: var(--border-radius-color);
  padding: 0 10px;
  box-shadow: 6px 5px var(--tertiary-color);
}

.card {
  margin: 0 0 20px 0;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-color);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  padding: 1%;
}

.card-body {
  padding: 1%;
}

.status-icon {
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius-color);
  margin: 0 5px;
  padding: 2px 5px;
}

.icon-danger {
  color: rgb(255, 70, 70);
}

.icon-success {
  color: rgb(29, 153, 255);
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-item {
  background-color: var(--lighter-color);
  color: var(--primary-color);
  text-decoration: none;
  border-radius: var(--border-radius-color);
  padding: 1.5%;
  margin-bottom: 10px;
}

.list-item:hover {
  background-color: var(--tertiary-color);
}

.link {
  color: var(--lighter-color);
}

.link-button {
  color: var(--primary-color);
}

.link-color {
  color: var(--tertiary-color);
  margin: 10px;
  padding: 10px;
}

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 2px;
}

.form-input {
  width: 100%;
  margin: 5px 0;
  font-size: 1.2rem;
  padding: 2%;
  border-radius: var(--border-radius-color);
  border: 2px solid var(--lighter-color);
}

.form-input-ls {
  width: 50%;
  margin: 3px 0;
  font-size: 1.2rem;
  padding: 1%;
  border-radius: var(--border-radius-color);
  border: 2px solid var(--lighter-color);
}

.min-100-vw {
  min-width: 100vw;
}

.min-100-vh {
  min-height: 100vh;
}

.text-uppercase {
  text-transform: uppercase;
}

.flex-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-row {
  flex-wrap: wrap;
  display: flex;
  margin-top: 10px;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.column-auto {
  flex-grow: 1;
}

.column-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.column-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.column-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.column-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.column-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.column-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.column-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.column-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.column-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.column-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.column-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.column-12 {
  flex: 0 0 100%;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: transparent;
  /* color: var(--tertiary); */
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  /* background-blend-mode: soft-light; */
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.nav-link {
  color: var(--primary-color);
  font-size: 150%;
  font-weight: 600;
  font-family: sans-serif;
}

.hero-image {
  background-image: url("/img/blue-binary.jpg");
  background-color: var(--secondary-color);
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image-login {
  background-image: url("/img/blue-binary.jpg");
  background-color: var(--secondary-color);
  height: 700px;
  opacity: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.navbar {
  background-color: var(--lighter-color);
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--lighter);
  margin-right: 10px;
  background-image: linear-gradient(
    270deg,
    var(--secondary) 0%,
    var(--lighter) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

.nav a:hover {
  background-size: 100% 100%;
  color: var(--primary);
}

.nav a:last-child {
  margin-right: 0;
}

.tagline {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  color: var(--lighter-color);
  font-weight: 500;
}

/* Sets standing opacity for image links */
.col img:hover{
  opacity: .5;
}

/* Maximizes opacity on hover over image links */
.col img {
  opacity: 1;
}

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .row p {
    padding-top: 100px;
    font-size: 1.2em;
  }

.login-container {
/* background-color: var(--secondary-color); */
padding-bottom: 40px;
}

.login-form, .sign-up-form {
  position:center;
  text-align: center;
  opacity: 100%;
  /* left: 20px;
  right: 20px; */
  bottom: 20px;
  margin: auto;
  width: 50%;
  border: 4px solid var(--secondary-color);
  padding: 10px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  border-color: var(--secondary-color);
  background-color: var(--lighter-color);
}

@media screen and (min-width:640px) {
 .login-form, .sign-up-form {
    width: 20%;
  }
}

.user-info{
  text-align: center;
  color: var(--darker-color);
  /* background-color: var(--tertiary-color); */
  /* opacity: 100%; */
  text-shadow: var(--tertiary-color);
  font-weight: bolder;
} 

a{
  text-decoration: none;
}

#create-btn{
  width: 100%;
  /* height: 20px; */
  margin-top: 20px;
  /* margin-left: 20px; */
  margin-bottom: 20px;
  background-color: var(--primary-color);
  border: 3px solid var(--tertiary-color);
  /* color: var(--primary-color); */
  font-weight: bold;
  font-size: x-large;
}

.mb-3 {
  /* background-color: var(--tertiary-color); */
  color: var(--primary-color);
}

.btn {
  max-height: 60px;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  /* margin-top: 25px;
  margin-bottom: 25px; */
  margin-left: auto;
  margin-right: 3px;
}

.posthome {
  background-color: var(--secondary-color);
}

.post-home{
  margin-left: 20%;
  text-align: center;
  margin-top: 50px;
  border: 2px solid lightslategrey;
  background-color: lightgray;
  width: 60%;
  padding: 5px;
  font-weight: bold;
  font-size: x-large;
}

.post-title {
  color: slategray;
}

.single-post {
  background-color: var(--secondary-color);
}

.mypost {
  background-color: var(--secondary-color);
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

/* .hero p {
  max-width: 75%;
} */

.card {
  /* background-color: var(--secondary-color); */
  margin: 0 0 20px 0;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius-color);
}

.card-reader{
  background-color: var(--tertiary-color);
}

.card-header {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  padding: 1%;
}

.card-body {
  padding: 1%;
}

.link {
  color: var(--lighter-color);
}

.link-button {
  color: var(--primary-color);
}

.link-color {
  color: var(--tertiary-color);
  margin: 10px;
  padding: 10px;
}

.post {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 640px) {
.post {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
  }
}

@media screen and (min-width: 640px) {
  .footer {
    }
  }

@media screen and (min-width:640px) {
  .hero, .header {
    width: 100%;
  }
}

@media screen and (min-width: 640px) {
  .column-1-small {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-small {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-small {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-small {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-small {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-small {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-small {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-small {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-small {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-small {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-small {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-small {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 768px) {
  .column-1-medium {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-medium {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-medium {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-medium {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-medium {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-medium {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-medium {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-medium {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-medium {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-medium {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-medium {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-medium {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 992px) {
  .column-1-large {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-large {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-large {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-large {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-large {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-large {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-large {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-large {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-large {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-large {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-large {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-large {
    flex: 0 0 100%;
  }
}

@media screen and (min-width: 1200px) {
  .column-1-xlarge {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  .column-2-xlarge {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  .column-3-xlarge {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  .column-4-xlarge {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  .column-5-xlarge {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  .column-6-xlarge {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  .column-7-xlarge {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  .column-8-xlarge {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  .column-9-xlarge {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  .column-10-xlarge {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  .column-11-xlarge {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  .column-12-xlarge {
    flex: 0 0 100%;
  }
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}

